.left-eye {
    width: 6px; 
    height: 6px;
    background: white;
    top: 45%;
    left: 19% ;
    position: absolute;
    border-radius: 50px;
}
.mouth {
    width: 6px;
    height: 6px;
    background: white;
    top: 45% ;
    left: 45% ;
    position: absolute;
    border-radius: 50px;
}
.right-eye {
    width: 6px;
    height: 6px;
    background: white;
    top: 45% ;
    right: 19%;
    position: absolute;
    border-radius: 50px;
}
.chat {
    background: rgb(191, 169, 154);
    width: 60px;
    height: 60px;
    border-radius: 50px 50px 0 50px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
}

/*!important;*/
